{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{{ component( "Ceres::Customer.Components.UserLoginHandler" ) }}
{{ component( "Ceres::PageDesign.Components.ShippingCountrySelect" ) }}
{{ component( "Ceres::PageDesign.Components.ShopLanguageSelect" ) }}
{{ component( "Ceres::PageDesign.Components.MobileNavigation" ) }}
{{ component( "Ceres::ItemList.Components.ItemSearch" ) }}
{{ component( "Ceres::WishList.Components.WishListCount" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}

<resource name="breadcrumbs" :data="{}"></resource>

<header class="top-bar">
    <div class="container-max">
        <div class="row look_metaWrapper">
            <p class="look_contactInfo">
                <span>Willkommen bei zaliving</span>
                <span><i class="icon-call-in"></i>08081 957 843| Mo - Fr: 09:00 - 17:00 Uhr</span>
            </p>
            {% include "CeresZaliving::PageDesign.Partials.Header.MetaNav" %}
        </div>
    </div>
    {% include "CeresZaliving::PageDesign.Partials.Header.Navigation" %}
</header>


<!-- breadcrumb -->
{% if not services.template.isHome() and not services.template.isMyAccount() and not services.template.isCheckout() %}
    {% include "Ceres::PageDesign.Partials.Header.Breadcrumb" %}
{% endif %}

<mobile-navigation :category-breadcrumbs="{{ categoryBreadcrumbs | json_encode }}" template="#vue-mobile-navigation"></mobile-navigation>

<div class="container-max page-header">
    <div class="row">
        <div id="searchBox" class="cmp cmp-search-box collapse {% if services.template.isSearch() %} in {% endif %}">
            <item-search template="#vue-item-search"></item-search>
        </div>
    </div>
</div>
