{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set lang         = services.sessionStorage.getLang() %}
{% set showHeaderNavBar = config("Ceres.header.show_navbars") %}
{% set companyName  = config("Ceres.header.company_name") %}

<nav class="navbar">
    <div class="container-max">
        <div class="row">
            <div class="look_brandWrapper">
                <a class="look_logo" href="/">
                    {% if ('http' in companyLogo) or ('layout/' in companyLogo) %}
                        <img alt="{{ companyName }}" src="{{ companyLogo }}" class="img-fluid"/>
                    {% else %}
                        <img alt="{{ companyName }}" src="{{ plugin_path('Ceres') }}/{{ companyLogo }}" class="img-fluid"/>
                    {% endif %}
                </a>

                <button id="btnMainMenuToggler" class="navbar-toggler hidden-lg-up" type="button">
                    &#9776;
                </button>
            </div>

            <div id="mainNavbarCollapsable">
                XXXX{{ include('CeresZaliving::PageDesign.Partials.Header.NavigationList.twig') }}XXXX
                <hr />
                YYYY{{ includeCached('CeresZaliving::PageDesign.Partials.Header.NavigationList.twig') }}YYY
            </div>

            <div id="searchBoxHeader" class="look_headerSearch">
                <item-search template="#vue-item-search"></item-search>
            </div>

        </div>
    </div>
</nav>